.root {
    -fx-focus-color: transparent;
    -fx-background-color: #323741;
}

.button {                           /* All buttons */
    -fx-background-color: #C147E9;
    -fx-text-fill: #fff;
    -fx-font-family: "Consolas";
}

.label {                            /* All labels */
    -fx-background-color: #323741;
    -fx-text-fill: #fff;
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-padding: 12px 0 12px 0;
}

.commands-list,
.clients-list,
.commands-list .list-cell,
.clients-list .list-cell
{
    -fx-background-color: #232832;
    -fx-border-color: #232832;
    -fx-text-fill: #fff;
}

.console-container,
.console-output {
    -fx-background-color: #232832;
    -fx-background: #232832;
    -fx-border-color: #232832;
    -fx-faint-focus-color: transparent;
}

.console-container:focused,
.console-output:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.scroll-bar {                       /* The scrollbar */
    -fx-background-color: #232832;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {     /* The literal interactive scrollbar */
    -fx-background-color: #C147E9;
    -fx-border-radius: 10px;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {     /* The parent of the interactive scrollbar */
    -fx-background-color: transparent;
}

.console-container > .corner {      /* The corners of the scrollbar */
    -fx-background-color: #232832;
}

.increment-button,
.decrement-button {                 /* The corners of the scrollbar */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.command-field {
    -fx-background-color: #232832;
    -fx-border-color: #232832;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-family: "Consolas";
}